/* Attribute 01: Titre des blocs de la homepage */
h1 {
  font-family: alternate-gothic-atf, sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: #000000; /* Noir */
}

/* header */
header .list-menu__item {
    text-align: center;
    font-family: alternate-gothic-atf, sans-serif;
    font-size: 30px;
    letter-spacing: 0px;
    color: #0F0F0F;
    opacity: 1;
    text-decoration: none !important;
}

header .list-menu__item span {
    display: block; position: relative;
}

.header__menu-item:hover span { 
   text-decoration: none;
}

.header__menu-item span:after {
    content: "";
    position: absolute;
    background: #141414;
    height: 2px;
    width: 0 !important;
    bottom: 0;
    left: 0;
    transition: width .3s;
}

.header__menu-item:hover > span:after {
  width: 100% !important;     transition: width .3s;
}

/* produits */
.product__title h1 { line-height: 1.2;}

.price .price-item{
    font-family: alternate-gothic-atf, sans-serif;
    font-size: 45px;
    font-weight: 600;
} 

#description {
  font-size: 22px; font-family: alternate-gothic-atf, sans-serif; line-height: 28px;
  color: #000;
}