* { font-family: alternate-gothic-atf,sans-serif;}

/* Attribute 01: Titre des blocs de la homepage */
h1 {
  font-family: alternate-gothic-atf, sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: #000000; /* Noir */
}

/* header */
header .list-menu__item {
    text-align: center;
    font-family: alternate-gothic-atf, sans-serif;
    font-size: 30px;
    letter-spacing: 0px;
    color: #0F0F0F;
    opacity: 1;
    text-decoration: none !important;
}

header .list-menu__item span {
    display: block; position: relative;
    margin-top: 10px;
}

.header__menu-item:hover span { 
   text-decoration: none;
}

.header__menu-item span:after {
    content: "";
    position: absolute;
    background: #141414;
    height: 2px;
    width: 0 !important;
    bottom: 0;
    left: 0;
    transition: width .3s;
}

.header__menu-item:hover > span:after {
  width: 100% !important;     transition: width .3s;
}

/* breadcrumbs */
.breadcrumbs-container {
  border-bottom: .1rem solid rgba(var(--color-foreground),.08);
} 

.breadcrumbs {
  font-size: .85em;
  margin: 2em auto;
}

.breadcrumbs ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a {
  color: #5D5D5D;
  text-decoration: underline;
  font-size: 16px;
}

.breadcrumbs li:not(:last-child):after {
  content: "›\00a0";
  display: inline-block;
  padding-left: .75ch;
  speak: none;
}

.breadcrumbs [aria-current="page"] {
  color: #0F0F0F;
  font-family: alternate-gothic-atf;
  font-weight: normal;
  text-decoration: none;
}

.breadcrumbs [aria-current="page"]:hover,
.breadcrumbs [aria-current="page"]:focus {
  text-decoration: underline;
}

/* produits */
.product__title h1 { line-height: 1.2;}

.price .price-item{
    font-family: alternate-gothic-atf, sans-serif;
    font-size: 45px;
    font-weight: 600;
} 

#description {
  font-size: 22px; font-family: alternate-gothic-atf, sans-serif; line-height: 28px;
  color: #000;
}


 .product-form__submit{
    background: transparent;
    border: 1px solid #0F0F0F;
    color: #fff;
    width: 441px;
    height: 53px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    font-family: alternate-gothic-atf,sans-serif;
    font-weight: 400;
    position: relative;
    text-align: center;
    transform: skew(-21deg);    
}
 .product-form__submit:before {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    transition: .3s ease-out;
    z-index: -1;
}

 .product-form__submit span {
    display: inline-block;
    transform: skew(21deg);
    margin-right: 10px;
}
 .product-form__submit:hover  {
    color: #0f0f0f;
}
 .product-form__submit:hover:before  {
    background: transparent!important; width: 0%;
}

span.price-item.price-item--sale.price-item--last {
  color: #DB5957;
}

.product-grid .card__content .card-information .price .price-item {
  font-size: 29px !important;
}

.product-grid .card__badge { display: none;}

.product__info-wrapper .red-label {
  background: #DB5957;
  opacity: 1;
  width: max-content!important;
  transform: skew(-21deg);
  padding: 0 10px;
}

.product__info-wrapper .red-label p {
  margin: 0;
  text-align: center; text-transform: uppercase;
  transform: skew(21deg);
  font-size: 17px;
  letter-spacing: 0px;
  color: #fff;
  font-family: alternate-gothic-atf,sans-serif;
  padding: 8px 4px 3px;
  line-height: 1.2;
}

/* footer */
footer h2 {
    font-size: 30px !important;
    line-height: 38px;
    font-family: alternate-gothic-atf;
    font-weight: 600;
    margin: 0 0 25px;
    color: #070707;
}

footer .copyright__content {
    font-family: alternate-gothic-atf;
    font-size: 30px;
    line-height: 38px;
    color: #0f0f0f;
    font-weight: 400;
    letter-spacing: 0;
}